<div class="surface-0 flex justify-content-center">
    <div class="landing-wrapper overflow-hidden">

        <!-- <div class="fixed w-full top-0 z-3" style="background-color: white;"> -->
            <div class="py-2 px-4 mx-0 md:mx-0 lg:mx-0 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3 md:mb-0">
                <a class="flex align-items-center" href="javascript:void(0);" (click)="scrollToAnchor('home', 100)">
                    <img src="assets/layout/images/logo-2.png" alt="LCT Logo" height="80" class="mr-0 lg:mr-2">
                    <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="LCT Logo" height="55" class=" mr-0 lg:mr-2"> -->
                </a>
                <a #menu pRipple class="cursor-pointer block lg:hidden text-700 z-3" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <i class="pi pi-bars text-4xl"></i>
                </a>
                <div class="z-3 align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" enterFromClass="hidden" leaveToClass="hidden" style="top:106px">
                    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                        <li>
                            <a (click)="this.tab = 0; scrollToAnchor('home', 100);" pRipple [class]="tab === 0 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                               <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="this.tab = 1; scrollToAnchor('about-us', 100);" pRipple [class]="tab === 1 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="this.tab = 2; scrollToAnchor('portfolio', 100);" pRipple [class]="tab === 2 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                                <span>Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="this.tab = 3; scrollToAnchor('careers', 100);" pRipple [class]="tab === 3 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                                <span>Careers</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="this.tab = 4" pRipple [class]="tab === 4 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="this.tab = 5; scrollToAnchor('partnerships', 100);" pRipple [class]="tab === 5 ? 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 active-tab' : 'flex m-0 md:ml-5 px-0 py-3 text-900 font-bold line-height-3 passive-tab'">
                                <span>Partnerships</span>
                            </a>
                        </li>
                    </ul>
                    <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                        <button pButton pRipple label="Contact Us" style="background-color: #522888 !important; color: white !important" class="p-button border-none ml-5 font-light line-height-2 bg-blue-500 text-white" (click)="scrollToAnchor('contact', 100)"></button>
                    </div>
                </div>
            </div>
       
        <ng-container>
            <div [class]="tab === 4 ? 'hidden': ''">
                <div class="grid grid-nogutter text-800" style="background-color: #D6D5C9;" id="home">
                    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                        <section>
                            <span class="block text-6xl font-bold mb-1 fade" style="color: #522888 !important;" *ngIf="slideIndex === 1">{{'Unlock Your Potential'}}</span>
                            <div class="text-6xl text-primary font-bold mb-3 fade" style="color: #522888 !important;" *ngIf="slideIndex === 1">{{'with Engaging, Interactive Learning'}}</div>
                            <p class="mt-0 mb-4 text-900 text-xl line-height-3 fade" style="color: #B97F24 !important;" *ngIf="slideIndex === 1">Transform the way you learn with personalized courses designed for your success. From skill-building to career advancement, we empower you every step of the way.</p>
                            <button pButton pRipple label="Explore Courses" type="button" class="mr-3 p-button-raised" style="background-color: #522888 !important;" (click)="scrollToAnchor('services', 100); this.tab = 2"></button>
                        </section>
                    </div>
                    <div class="col-12 md:col-6 overflow-hidden">
                        <img src="assets/demo/images/landing/le.jpg" alt="Image" height="600" width="900" class="md:ml-auto block" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
                    </div>
                </div>
                <div class="py-4 px-4 lg:px-8 mx-0" style="background-color: #efeae2;" >
                
                    <div id="about-us">
                        <div class="text-center px-6 py-8">
                            <div class="text-900 text-4xl font-semibold mb-3" style="color: #522888 !important">About Us</div>
                            <p class="text-700 text-xl my-0 line-height-3" style="color: #754D9D !important;">At Learn Soft, we believe that learning should be accessible, engaging, and transformative. We are committed to empowering individuals and organizations through high-quality, flexible online courses that meet the demands of today’s fast-paced world</p>
                        </div><div class="grid mb-4">
                            <div class="col-12 md:col-4 mb-4 px-5">
                                <button class="p-link p-3 shadow-2 mb-3 inline-block bg-primary" style="border-radius: 10px; background-color: #522888 !important; color: #BF9553 !important;">
                                    <i class="pi pi-file-edit text-4xl"></i>
                                </button>
                                <div class="text-bluegray-500 mb-3 font-medium" style="color: #522888 !important;">Personalized Learning Paths</div>
                                <div class="text-900 mb-3 font-medium text-xl" style="color: #B97F24 !important;">Customizable, Tailored, Goal-oriented</div>
                                <span class="text-600 line-height-3" style="color: #754D9D !important;">Tailored courses to match your unique goals and learning style.</span>
                            </div>
                            <div class="col-12 md:col-4 mb-4 px-5">
                                <button class="p-link p-3 shadow-2 mb-3 inline-block bg-bluegray-400 text-white" style="border-radius: 10px; background-color: #522888 !important; color: #BF9553 !important;">
                                    <i class="pi pi-users text-4xl"></i>
                                </button>
                                <div class="text-bluegray-500 mb-3 font-medium" style="color: #522888 !important;">Expert Instructors</div>
                                <div class="text-900 mb-3 font-medium text-xl" style="color: #B97F24 !important;">Knowledgeable, Experienced, Inspiring</div>
                                <span class="text-600 line-height-3" style="color: #754D9D !important;">Learn from experienced professionals who are leaders in their fields.</span>
                            </div>
                            <div class="col-12 md:col-4 mb-4 px-5">
                                <button class="p-link p-3 shadow-2 mb-3 inline-block bg-bluegray-400 text-white" style="border-radius: 10px; background-color: #522888 !important; color: #BF9553 !important;">
                                    <i class="pi pi-wrench text-4xl"></i>
                                </button>
                                <div class="text-bluegray-500 mb-3 font-medium" style="color: #522888 !important;">Interactive Tools</div>
                                <div class="text-900 mb-3 font-medium text-xl" style="color: #B97F24 !important;">Engaging, Collaborative, Dynamic</div>
                                <span class="text-600 line-height-3" style="color: #754D9D !important;">Engage with quizzes, assignments, and peer communities to solidify your knowledge.</span>
                            </div>
                        </div>
                        
                        <div class="surface-card shadow-2 border-round p-5" style="background: radial-gradient(69.84% 69.84% at 50% 100%, rgba(82, 40, 136, 0.15) 0%, rgba(255, 255, 255, 0) 100%);">
                            <div class="grid">
                                <div class="col-12 sm:col-6 lg:col-3 p-3 flex align-items-center sm:justify-content-center sm:border-right-1 border-bottom-1 lg:border-bottom-none surface-border cursor-pointer">
                                    <div class="flex align-items-center mr-3">
                                        
                                    </div>
                                    <div>
                                        <span class="text-900 text-2xl font-medium" style="color: #B97F24 !important;">PMI Certified</span>
                                        <p class="text-xl text-500 font-medium mt-2 mb-0" style="color: #522888 !important;">Instructors</p>
                                    </div>
                                </div>
                                <div class="col-12 sm:col-6 lg:col-3 p-3 flex align-items-center sm:justify-content-center lg:border-right-1 border-bottom-1 lg:border-bottom-none surface-border cursor-pointer">
                                    <div class="flex align-items-center mr-3">
                                        
                                    </div>
                                    <div>
                                        <span class="text-900 text-2xl font-medium" style="color: #B97F24 !important;">Real-World</span>
                                        <p class="text-xl text-500 font-medium mt-2 mb-0" style="color: #522888 !important;">Project Management Experience</p>
                                    </div>
                                </div>
                                <div class="col-12 sm:col-6 lg:col-3 p-3 flex align-items-center sm:justify-content-center sm:border-right-1 border-bottom-1 sm:border-bottom-none surface-border cursor-pointer">
                                    <div class="flex align-items-center mr-3">
                                        
                                    </div>
                                    <div>
                                        <span class="text-900 text-2xl font-medium" style="color: #B97F24 !important;">PMP®, Agile, Scrum</span>
                                        <p class="text-xl text-500 font-medium mt-2 mb-0" style="color: #522888 !important;">Frameworks</p>
                                    </div>
                                </div>
                                <div class="col-12 sm:col-6 lg:col-3 p-3 flex align-items-center sm:justify-content-center cursor-pointer">
                                    <div class="flex align-items-center mr-3">
                                        
                                    </div>
                                    <div>
                                        <span class="text-900 text-2xl font-medium" style="color: #B97F24 !important;">Individual & Corporate</span>
                                        <p class="text-xl text-500 font-medium mt-2 mb-0" style="color: #522888 !important;">Trainings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parallax">
                </div>
                <div class="surface-section px-4 py-8 md:px-6 lg:px-8" style="background-color: #D6D5C9;" id="portfolio">
                    <div class="grid w-full">
                        <div class="col-12 md:col-6">
                            <img src="assets/demo/images/landing/join-1500w.jpg" alt="Image" class="w-full">
                        </div>
                        <div class="col-12 md:col-6 md:pl-6">
                            <div class="text-4xl font-bold text-900 mb-3" style="color: #522888 !important;">Portfolio</div>
                            <div class="text-700 text-xl mb-5 line-height-3 mb-5" style="color: #B97F24 !important;">At Learn Soft, we are proud of the impact we've made in helping learners and businesses grow. Our portfolio showcases a diverse range of projects, from empowering individuals with the latest skills to transforming companies with tailored corporate training solutions. Explore some of our most successful case studies and see how our services have helped our clients achieve their learning and development goals.</div>
                            <div class="border-round p-4">
                                
                                <div class="grid">
                                    <div class="col-12 lg:col-4 p-3"><div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                                        <div class="flex flex-column align-items-center justify-content-between">
                                            <div class="flex flex-row">
                                                <!-- <span class="text-3xl text-900 font-bold">40K</span> -->
                                                <p class="mt-1 mb-0 text-600 text-xl">Training for Individuals</p>
                                            </div>
                                            <div>
                                                <img src="assets/demo/images/landing/stats-illustration-4.svg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 lg:col-4 p-3">
                                    <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                                        <div class="flex flex-column align-items-center justify-content-between">
                                         <div class="flex flex-row">
                                            <!-- <span class="text-3xl text-900 font-bold">24K</span> -->
                                            <p class="mt-1 mb-0 text-600 text-xl">Certification Programs</p>
                                        </div>
                                        <div>
                                            <img src="assets/demo/images/landing/stats-illustration-5.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 lg:col-4 p-3">
                                <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                                    <div class="flex flex-column align-items-center justify-content-between">
                                        <div class="flex flex-row">
                                            <!-- <span class="text-3xl text-900 font-bold">15K</span> -->
                                            <p class="mt-1 mb-0 text-600 text-xl">Leadership Development</p>
                                        </div>
                                        <div>
                                            <img src="assets/demo/images/landing/stats-illustration-6.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content" id="careers">
                    <div class="ng-star-inserted">
                        <div class="px-4 md:px-6 lg:px-8" style="background-color: #D6D5C9;">
                            <div class="grid py-4">
                                <div class="col-12 md:col-6">
                                    <div class="pr-0 md:pr-8">
                                        <div class="text-blue-500 font-bold text-5xl mb-5" style="color: #522888 !important;">Join Our Team</div>
                                        <span class="text-gray-400 line-height-3 mt-3 text-xl" style="color: #B97F24 !important;">At Learn Soft, we’re more than just a company — we’re a community of passionate individuals dedicated to making a difference in the world of education. We believe in empowering our team to grow, innovate, and inspire through meaningful work. If you're excited about shaping the future of learning, we want to hear from you.</span>
                                        <br/><br/>
                                        <span class="text-blue-500 font-bold text-5xl mt-5" style="color: #522888 !important;">Why Us?</span>
                                        <div class="mb-5 border-purple-800 pl-3 mt-5" style="border-left: 4px solid;">
                                            <span class="text-white font-bold text-2xl" style="color: #522888 !important;">Innovative Environment</span>
                                            <div class="text-gray-400 line-height-3 mt-3" style="color: #B97F24 !important;">Work on cutting-edge e-learning solutions with the latest technologies.</div>
                                        </div>
                                        <div class="mb-5">
                                            <span class="text-gray-400 font-bold text-2xl" style="color: #522888 !important;">Professional Growth</span>
                                            <div class="text-gray-400 line-height-3 mt-3" style="color: #B97F24 !important;">We prioritize your development with opportunities for learning, training, and career advancement.</div>
                                        </div>
                                        <div class="mb-5">
                                            <span class="text-gray-400 font-bold text-2xl" style="color: #522888 !important;">Collaborative Culture</span>
                                            <div class="text-gray-400 line-height-3 mt-3" style="color: #B97F24 !important;">Join a supportive, team-oriented workplace where your ideas are valued.</div>
                                        </div>
                                        <button pButton pRipple label="Contact Us" type="button" class="p-button-raised" style="background-color: #522888 !important;" (click)="scrollToAnchor('contact', 100)"></button>
        
                                        
                                    </div>
                                </div>
                                <div class="col-12 md:col-6">
                                    <img src="assets/demo/images/landing/get-started-1500w.jpg" alt="Image" class="w-full">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="surface-section px-4 py-8 md:px-6 lg:px-8" id="partnerships" style="background: radial-gradient(69.84% 69.84% at 50% 100%, rgba(185, 127, 36, 0.15) 0%, rgba(255, 255, 255, 0) 100%);">
                    <div class="flex flex-wrap align-items-center justify-content-between">
                        <div class="w-full lg:w-6 pr-0 lg:pr-4">
                            <div class="font-bold text-900 text-4xl mb-3" style="color: #522888 !important;">Our Partnerships</div>
                            <p class="text-700 m-0 text-xl" style="color: #B97F24 !important;">Our strategic partnerships with Knowledgeware and Learning Curve Technologies empower us to deliver exceptional online courses, training programs, and live webinars designed to foster learning and growth.</p>
                        </div>
                        <div class="w-full lg:w-6 mt-4 lg:mt-0">
                            <div class="grid grid-nogutter">
                                <div class="col-12 sm:col-6 xl:col-4 p-4">
                                    <img src="assets/demo/images/landing/knowledgeware-logo.png" alt="Image" class="custom-img" height="50">
                                </div>
                                
                                <div class="col-12 sm:col-6 xl:col-4 p-4">
                                    <img src="assets/demo/images/landing/logo.svg" alt="Image" class="custom-img-2" height="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="surface-section px-4 py-8 md:px-6 lg:px-8" id="contact">
                    <div class="grid">
                        <div class="col-12 lg:col-6">
                            <div class="text-900 text-2xl font-bold mb-4" style="color: #522888 !important;">GET IN TOUCH</div>
                            <p class="text-700 text-xl line-height-3 pr-0 lg:pr-5" style="color: #B97F24 !important;">We’d love to hear from you! Whether you have a question, want to learn more about our courses, or need support, our team is here to help. Reach out to us through any of the following channels:</p>
                            <div class="col-12 md:col-6 lg:col-3 pl-0">
                            <div class="flex align-items-start">
                                <div>
                                    <span class="flex align-items-center justify-content-center surface-100 border-round mr-3" style="height: 3rem; width: 3rem; background-color: #522888 !important"><i class="pi pi-phone text-900 text-4xl" style="color: #BF9553 !important;"></i></span>
                                </div>
                                <div>
                                    <span class="text-xl text-900 mb-2 font-medium" style="color: #754D9D !important;">Phone</span>
                                    <p class="text-700 line-height-3" style="color: #B97F24 !important;">+919840781198</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-12 md:col-6 lg:col-3 pl-0">
                            <div class="flex align-items-start">
                                <div>
                                    <span class="flex align-items-center justify-content-center surface-100 border-round mr-3" style="height: 3rem; width: 3rem; background-color: #522888 !important"><i class="pi pi-inbox text-900 text-4xl" style="color: #BF9553 !important;"></i></span>
                                </div>
                                <div>
                                    <span class="text-xl text-900 mb-2 font-medium" style="color: #754D9D !important;">Email</span>
                                    <p class="text-700 line-height-3" style="color: #B97F24 !important;">{{'info@learnsoft.com'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6" >
                        
                        <form *ngIf="enquireForm" [formGroup]="enquireForm" (ngSubmit)="submitForm()">
                            <div class="p-fluid formgrid grid px-4 md:px-6 lg:px-4">
                                <div class="field col-12 mb-4">
                                    <input type="text" pInputText placeholder="Name"  [formControl]="name"/>
                                    <small *ngIf="enquireForm.controls.name.status === 'INVALID' && enquireForm.controls.name.dirty">Name Required</small>
                                </div>
                               
                                <div class="field col-12 mb-4">
                                    <input type="text" pInputText placeholder="Email" [formControl]="email"/>
                                    <small *ngIf="enquireForm.controls.email.status === 'INVALID' && enquireForm.controls.email.dirty">Please enter a valid email</small>
                                </div>
                                <div class="field col-12 mb-4">
                                    <p-inputMask mask="9999999999" placeholder="Phone Number" [formControl]="phoneNumber"></p-inputMask>
                                    <small *ngIf="enquireForm.controls.phoneNumber.status === 'INVALID' && enquireForm.controls.phoneNumber.dirty">Phone Number Required</small>
                                </div>
                                <div class="field col-12 mb-4">
                                    <textarea pKeyFilter="int" rows="5" cols="30" pInputTextarea placeholder="Message" [formControl]="message"></textarea>
                                </div>
                               
                                <div class="col-12">
                                    <button pbutton="" pripple="" [disabled]="!enquireForm.dirty || enquireForm.status === 'INVALID' || disableForm" label="Send Message" icon="pi pi-send" class="p-element p-ripple w-auto p-button p-component" style="background-color: #522888 !important; color: white !important">
                                        <span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span>
                                        <span class="p-button-label">Send Message</span>
                                        <span class="p-ink"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>     
            </div>
            
        </ng-container>
        <app-services [class]="tab === 4 ? '': 'hidden'"></app-services>
        
        
       
       
        
        
        
        
        <div class="block-content">
            <div class="ng-star-inserted">
                <div class="grid grid-nogutter surface-section px-4 py-4 md:px-6 lg:px-8 border-top-1 surface-border" style="background-image: url('assets/demo/images/landing/footer-bg-1.png');background-color: #eeeeee !important;">
                    <div class="col-12 lg:col-6 lg:border-right-1 surface-border">
                        <img src="assets/layout/images/logo-2.png" alt="Learnsoft Logo" height="120" >
                        <span class="text-900 font-bold block mt-2 mr-3" style="color: #6A3C99 !important;">Embrace Learning, Experience Transformation!</span>
                        <span class="text-500 block mt-4">Copyright © {{currentYear}} LearnSoft</span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 mt-4 lg:mt-0 lg:pl-4 flex flex-column">
                        <span class="text-900 text-xl font-medium block" style="color: #522888 !important;">Company</span>
                        <ul class="list-none p-0">
                            <li>
                                <a tabindex="0" (click)="scrollToAnchor('about-us', 100); this.tab = 1" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block">About</a>
                            </li>
                            <li>
                                <a tabindex="0" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block">FAQ</a>
                            </li>
                            <li>
                                <a tabindex="0" (click)="scrollToAnchor('careers', 100); this.tab = 3" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block">Careers</a>
                            </li>
                            <li>
                                <a tabindex="0" (click)="scrollToAnchor('services', 100); this.tab = 4" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block">Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 lg:col-2 md:col-6 flex mt-4 lg:mt-0 lg:pl-4 flex-column">
                        <span class="text-900 text-xl font-medium block" style="color: #522888 !important;">Follow Us</span>
                        <ul class="list-none p-0">
                           
                            <li>
                                <a tabindex="0" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block" href="javascript: void(0)">Facebook</a>
                            </li>
                            <li>
                                <a tabindex="0" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block" href="javascript: void(0)">LinkedIn</a>
                            </li>
                            <li>
                                <a tabindex="0" class="text-600 hover:text-yellow-700 transition-duration-150 cursor-pointer mt-3 block" href="javascript: void(0)">Google</a>
                            </li> 
                        </ul>
                    </div>
                    <div class="col-12 lg:col-2 md:col-6 flex mt-4 lg:mt-0 lg:pl-4 flex-column">
                        <span class="text-900 text-xl block" style="color: #522888 !important;">Subscribe</span>
                        <span class="text-500 block mt-4 line-height-3">Join our community to receieve the latest updates and special promotions.</span>
                        <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width: 30rem;">
                            <button type="button" pbutton="" pripple="" icon="pi pi-envelope" class="p-element p-ripple text-500 surface-100 surface-border p-button p-component p-button-icon-only">
                                <span class="p-button-icon pi pi-envelope" aria-hidden="true"></span>
                                <span class="p-ink"></span>
                            </button>
                            <input type="text" pinputtext="" placeholder="Email" class="p-inputtext p-component p-element border-y-1 text-500 border-x-none surface-border">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="py-6 lg:py-4 md:px-6 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center" style="background-color: #D6D5C9;">
                    <ul class="list-none p-0 mb-0 flex flex-column md:flex-row flex-order-1 lg:flex-order-0 mt-4 lg:mt-0">
                       
                        <li class="mr-4 mt-3 lg:mt-0" >
                            <a tabindex="0" class="cursor-pointer text-0" style="color: #522888 !important;">Privacy Policy</a>
                        </li>
                        <li class="mr-4 mt-3 lg:mt-0" >
                            <a tabindex="0" class="cursor-pointer text-0" style="color: #522888 !important;">Terms of Service</a>
                        </li>
                        <li class="mr-4 mt-3 lg:mt-0" >
                            <a tabindex="0" class="cursor-pointer text-0" style="color: #522888 !important;">Legal Information</a>
                        </li>
                    </ul>
                    <div class="flex align-items-center flex-order-0 lg:flex-order-1">
                        <a tabindex="0" class="cursor-pointer mr-3 lg:mt-0 block" href="javascript: void(0)">
                            <i class="pi pi-facebook surface-section p-1 text-sm border-circle text-900"></i>
                        </a>
                        <a tabindex="0" class="cursor-pointer mr-3 lg:mt-0 block" href="javascript: void(0)">
                            <i class="pi pi-linkedin surface-section p-1 text-sm border-circle text-900"></i>
                        </a>
                        <a tabindex="0" class="cursor-pointer lg:mt-0 block" href="javascript: void(0)">
                            <i class="pi pi-google surface-section p-1 text-sm border-circle text-900"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-scrollTop />
</div>