<div class="surface-section px-4 pb-8 pt-0 md:px-6 lg:pb-8">
    <div class="text-900 font-bold text-3xl text-center mt-4" style="color: #522888 !important;">Services</div>
    <p class="text-600 font-medium text-xl text-center mt-4" style="color: #B97F24 !important;">Empowering success through e-learning solutions.</p>
    <div class="grid -mr-3 -ml-3">
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/1.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Project Management</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Project Management'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/2.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Business Analysis</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Business Analysis'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/3.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Design Thinking</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Design Thinking'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/4.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Six Sigma</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Six Sigma Black Green Belt & Black Belt'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/5.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">PMI</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'PMP Certification'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/6.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">CAPM</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'CAPM Certification'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/7.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Webinars</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Webinars'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
        <div class="xs:col-12 sm:col-6 lg:col-3 p-4 flex flex-column text-center">
            <img src="assets/demo/images/landing/8.png" alt="product" class="w-full h-full border-round">
            <!-- <div class="text-900 text-xl mt-4">Workshops</div> -->
            <button pbutton="" pripple="" label="Learn More" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="sidebarVisible = true; selection = 'Workshops'">
                <span class="p-button-label" style="color: #522888 !important;">Learn More</span>
                <span class="p-ink"></span>
            </button>
            <!-- <p class="text-600 mt-3 line-height-3">Potenti nullam ac tortor vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras semper.</p> -->
        </div>
    </div>
</div>
<p-sidebar [(visible)]="sidebarVisible" position="bottom" [fullScreen]="false">
    <!-- <ng-template pTemplate="content"> -->
        
        <div *ngFor="let option of menuOptions">
            <div class="surface-section px-2 md:px-2 lg:px-4" *ngIf="option.service === selection">
                <div class="text-gray-100 w-full p-2 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
                    <div class="text-900 font-bold text-3xl mb-4">{{option.service}}</div>                    
                </div>            
                <div class="grid mt-2">
                    <div class="col-12 lg:col-3">
                        <div class="flex flex-row lg:flex-column lg:border-right-1 surface-border gap-5 mb-4 lg:px-5">
                            <!-- <div class="text-900 flex flex-row align-items-center justify-content-end">
                                <span class="font-semibold mr-3">71</span>
                                <i class="pi pi-bookmark"></i>
                            </div>
                            <div class="text-900 flex flex-row align-items-center justify-content-end">
                                <span class="font-semibold mr-3">298</span>
                                <i class="pi pi-heart"></i>
                            </div>
                            <div class="text-900 flex flex-row align-items-center justify-content-end">
                                <span class="font-semibold mr-3">34</span>
                                <i class="pi pi-comments"></i>
                            </div> -->
                            <button pButton pRipple label="Book Now" type="button" class="p-button-raised" style="background-color: #522888 !important;" (click)="scrollToAnchor('contact', 100)"></button>
                            <p-panel header="Available Solts">
                                <div class="flex flex-row justify-content-between pb-2">
                                   <span>{{'Jan 10, 2025'}}</span>
                                    <p-badge [value]="5" />
                                </div>
                                <div class="flex flex-row justify-content-between pb-2">
                                    <span>{{'Feb 20, 2025'}}</span>
                                    <p-badge [value]="10" />
                                </div>
                                <div class="flex flex-row justify-content-between pb-2">
                                    <span>{{'Mar 5, 2025'}}</span>
                                    <p-badge [value]="30" />
                                </div>
                            </p-panel>
                        </div>
                    </div>
                    <div class="col-12 lg:col lg:px-5">
                        <div class="surface-section" *ngIf="option.service === 'PMP Certification'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">PMP Certification</div> -->
                            <div class="text-500 mb-5">Prepare for the PMP certification with our comprehensive course, designed to equip you with the essential skills, knowledge, and strategies to successfully manage projects and lead teams.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">35 Hour PMP® Training</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="PMI-PMP® Exam Preparation" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Practice Exams" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Mock Tests" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Interactive Video Lessons" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Certificate of Completion" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="No Prior Experience Required" class="mr-2 mb-2"></p-chip>
                                        
                                    </div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="surface-section" *ngIf="option.service === 'CAPM Certification'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">CAPM Certification</div> -->
                            <div class="text-500 mb-5">Prepare for the CAPM certification with our comprehensive, self-paced online course, designed to give you the foundational project management knowledge needed to advance your career.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">23 Hour CAPM® Training</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="CAPM® Exam Preparation" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Practice Exams" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Mock Tests" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Interactive Video Lessons" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Certificate of Completion" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="No Prior Experience Required" class="mr-2 mb-2"></p-chip>
                                        
                                    </div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div>
                       
                        <div class="surface-section" *ngIf="option.service === 'Six Sigma Black Green Belt & Black Belt'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">Six Sigma Black Green Belt & Black Belt</div> -->
                            <div class="text-500 mb-5">Master the art of process improvement with our Six Sigma certification course, designed to equip you with the tools and methodologies to drive efficiency and quality in any organization.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Six Sigma Green Belt & Black Belt</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="Study Materials" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Real-World Case Studies" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Hands-On Exercises" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Interactive Video Lessons" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Certificate of Completion" class="mr-2 mb-2"></p-chip>                        
                                    </div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="surface-section" *ngIf="option.service === 'Business Analysis'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">Business Analysis</div> -->
                            <div class="text-500 mb-5">Gain the skills to effectively analyze business needs, drive solutions, and deliver value with our comprehensive Business Analysis certification course, designed to elevate your career and decision-making abilities.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Business Analysis</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="Hands-on Projects" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Access to Case Studies" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Guided Exercises" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Interactive Video Lessons" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="No Prior Experience Required" class="mr-2 mb-2"></p-chip>
                                        
                                    </div>
                                </li>
                                <!-- <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Trainers</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Dr.V.K.Garg, Dr.Yatin Bhatia</div>
                                </li> -->
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div> 
                        <div class="surface-section" *ngIf="option.service === 'Design Thinking'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">Design Thinking</div> -->
                            <div class="text-500 mb-5">Unlock your creative potential with our online Design Thinking course, designed to help you solve complex problems through innovative, user-centered solutions.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Design Thinking</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="Sustainable Entrepreneurship and Innovation Training" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Access to Case Studies" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Guided Exercises" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Interactive Video Lessons" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="No Prior Experience Required" class="mr-2 mb-2"></p-chip>
                                        
                                    </div>
                                </li>
                                <!-- <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Trainers</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Dr.V.K.Garg, Dr.Yatin Bhatia</div>
                                </li> -->
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="surface-section" *ngIf="option.service === 'Project Management'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">Project Management</div> -->
                            <div class="text-500 mb-5">Equip yourself with the essential skills to lead successful projects with our comprehensive Project Management certification course, designed to prepare you for real-world challenges and industry-recognized credentials.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Project Management</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="Project Management Orientation" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Knowledge Area Focused Training" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Hands-on Projects" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Study Materials and Downloadable Resources" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Guided Exercises" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Post-Course Support and Mentorship" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Hands-On Experience with Project Management Tools" class="mr-2 mb-2"></p-chip>
                                        
                                    </div>
                                </li>
                                <!-- <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Trainers</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Dr.V.K.Garg, Dr.Yatin Bhatia</div>
                                </li> -->
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="surface-section" *ngIf="option.service === 'Webinars' || option.service === 'Workshops'">
                            <!-- <div class="text-900 font-bold text-3xl mb-4">Webinars & Workshops</div> -->
                            <div class="text-500 mb-5">Engage in interactive, expert-led live workshops and webinars, designed to provide practical insights, industry trends, and hands-on learning for immediate application in your professional projects.</div>
                            <ul class="list-none p-0 m-0">
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Course</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Project Management</div>
                                    
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">What we offer</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                        <p-chip label="Live, Interactive Sessions" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Hands-On Activities" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Exclusive Q&A with Trainers" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="atest Tools, Techniques, and Trends" class="mr-2 mb-2"></p-chip>
                                        <p-chip label="Certificate of Participation" class="mr-2 mb-2"></p-chip>
                                    </div>
                                </li>
                               
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Location</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">-</div>
                                </li>
                                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                    <div class="text-500 w-6 md:w-2 font-medium">Pricing</div>
                                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">For pricing information contact - <a href="mailto:info@learnsoft.com">{{'info@learnsoft.com'}}</a></div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                 
                    <div class="col-12 lg:col-3 lg:border-left-1 surface-border">
                        <div class="p-3" *ngIf="option.service !== 'PMP Certification' && option.service !== 'CAPM Certification'">
                          
                            <span class="text-900 font-medium text-xl block mb-5">Trainers</span>
                            <ng-container *ngFor="let trainer of option.trainers">
                                <div class="flex pb-4"><img [src]="trainer.image" class="mr-3 h-6rem w-5rem csf">
                                    <div class="flex flex-column align-items-start">
                                        <span class="text-lg text-900 font-medium mb-1">{{trainer.name}}</span>
                                        <span class="text-600 mb-2">{{trainer.certification}}</span>
                                    </div>
                                </div>
                            </ng-container>
                            
                         
                        </div>

                        <div class="p-3" *ngIf="option.service === 'PMP Certification' || option.service === 'CAPM Certification'">
                          
                            <p-panel style="text-align: center;" header="Top companies that offer this course to their employees">
                                <div class="flex flex-row justify-content-center pb-2">
                                    <img src="assets/demo/images/landing/box-dark.svg">
                                    
                                 </div>
                                 <div class="flex flex-row justify-content-center pb-2">
                                    <img src="assets/demo/images/landing/eventbrite-dark.svg">
                                    
                                 </div>
                                 <div class="flex flex-row justify-content-center pb-2">
                                    <img src="assets/demo/images/landing/nasdaq-dark.svg">
                                    
                                 </div>
                                 <div class="flex flex-row justify-content-center pb-2">
                                    <img src="assets/demo/images/landing/netapp-dark.svg">
                                    
                                 </div>
                                 <div class="flex flex-row justify-content-center pb-2">
                                    <img src="assets/demo/images/landing/volkswagen-dark.svg">
                                    
                                 </div>
                            </p-panel>
                            
                            
                         
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    <!-- </ng-template> -->
    
</p-sidebar>